/* Container utama */
.logout-container {
    padding: 20px;
    margin-left: 250px;
    text-align: center;
    min-height: 100vh;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
    position: relative;
}

.logout-container.with-sidebar {
    margin-left: 250px;
    width: calc(100% - 250px);
    padding: 20px;
}

.logout-container.full-width {
    margin-left: 0;
    width: 100%;
    padding: 20px;
}

.logout-container::before {
    content: "";
    background: url("../assets/back.png") center no-repeat;
    opacity: 0.3;
    background-size: 800px 800px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

/* Kotak Logout */
.logout-box {
    padding: 25px;
    background: #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 0 auto;
}

/* Judul */
.logout-title {
    margin-bottom: 20px;
    color: #20a3fa;
}

/* Teks */
.logout-text {
    margin-bottom: 20px;
}

/* Tombol */
.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.logout-button {
    padding: 10px 20px;
    background: #3698f4;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.logout-button:hover {
    background: #52eeee;
}

.cancel-button {
    padding: 10px 20px;
    background: #2be1e7;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.cancel-button:hover {
    background: #249bfc;
}
