/* Container utama */
.forgot-password-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #005b8f;
}

/* Kotak Lupa Password */
.forgot-password-box {
    padding: 20px;
    background: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

/* Judul */
.forgot-password-title {
    margin-bottom: 20px;
    color: #2196f3;
    font-size: larger;
}

/* Teks */
.forgot-password-text {
    margin-bottom: 20px;
}

/* Form */
.forgot-password-form {
    text-align: left;
}

.form-groupfor {
    margin-bottom: 15px;
}

.form-groupfor label {
    display: block;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.form-groupfor input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #ffffff;
}

/* Tombol Kirim Link */
.forgot-password-button {
    padding: 10px 20px;
    background: #2196f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease;
}

.forgot-password-button:hover {
    background: #1976d2;
}

/* Tombol Kembali ke Login */
.back-button {
    margin-top: 10px;
    padding: 10px 20px;
    background: #f44336;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    transition: background 0.3s ease;
}

.back-button:hover {
    background: #e91e63;
}
