body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-wrapper {
    display: flex;
    height: 100vh;
    background-color: #005b8f;
    color: white;
    flex-wrap: wrap;
}

.login-left h3,
h2 {
    font-size: 1em;
}

/* KIRI */
.login-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5vw;
    text-align: center;
}

.logo-circle {
    width: 20vw;
    height: 20vw;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vw;
}

.logo-content {
    text-align: center;
    color: black;
}

.logo-symbol {
    font-size: 1.2em;
    font-weight: bold;
}

.logo-text {
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.2vw;
}

.alert-popup {
    position: absolute;
    left: 40%;
    transform: translate(-50%, -50%);
    background-color: rgba(133, 133, 133, 0.9);
    border-radius: 2vw;
    margin: 5vw;
    padding: 3vw;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* KANAN */
.login-right {
    flex: 1;
    background-color: #2196f3;
    border-radius: 2vw;
    margin: 5vw;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    position: relative;
}

.login-title {
    text-align: center;
    margin-bottom: 2vw;
    font-size: 1.2em;
}

.form-grouplog {
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
    position: relative;
    width: 100%;
}

.form-grouplog input {
    padding: 1vw 2vw;
    border: none;
    width: 80%;
    border-radius: 1vw;
    font-size: 1.2em;
    margin-bottom: 1vw;
}

/* Mata password */
.password-group {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.toggle-passwordlog {
    position: absolute;
    right: 3vw;
    top: 37.5%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #555;
    padding: 0;
    margin: 0;
}

.login-button {
    padding: 1vw 2vw;
    width: 30%;
    display: block;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: none;
    border-radius: 1vw;
    font-weight: bold;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 1vw;
    margin-bottom: 2vw;
}

.login-button:hover {
    background-color: #c7c7c7;
}

.login-links {
    text-align: center;
    margin-top: 1vw;
}

.login-links a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin-top: 0.5vw;
}

.login-links a:hover {
    color: #000000;
}

/* Responsive */
@media only screen and (max-width: 768px) {
    .login-wrapper {
        flex-direction: column;
    }

    .login-left {
        padding: 10vw;
    }

    .login-right {
        margin: 5vw 0;
    }

    .toggle-passwordlog {
        font-size: 5vw;
        right: 10%;
    }
}
