

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.login-wrapper {
    display: flex;
    height: 100vh;
    background-color: #005b8f;
    color: white;
}

.login-left h3,h2 {
 font-size: 25px;
}

/* KIRI */
.login-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px;
    text-align: center;

}

.logo-circle {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.logo-content {
    text-align: center;
    color: black;
}

.logo-symbol {
    font-size: 36px;
    font-weight: bold;
}

.logo-text {
    font-weight: bold;
    font-size: 24px;
    letter-spacing: 2px;
}

/* KANAN */
.login-right {
    flex: 1;
    background-color: #2196f3;
    border-radius: 20px;
    margin: 250px 300px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.login-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 24px;
}

.form-group {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-group input {
    padding: 10px 30px;
    border: none;
    width: 80%;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 10px;
}

.password-group {
    display: flex;
    align-items: center;
    position: relative;
}

.toggle-password {
    position: absolute;
    right: 50px;
    cursor: pointer;
    color: #333;
    user-select: none;
    top: 37%;
    left: 90%;
    transform: translateY(-50%);
}

.login-button {
    padding: 10px;
    width: 25%;
    display: block;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-button:hover {
    background-color: #c7c7c7;
}

.login-links {
    text-align: center;
    margin-top: 15px;
}

.login-links a {
    display: block;
    color: rgb(255, 255, 255);
    text-decoration: underline;
    margin-top: 5px;
}

.login-links a:hover {
    color: #000000;
}

